body {
    background-color: #FAF8F9;
}

fieldset {
    background-color: #fff;
}

fieldset>div {
    display: inline-block;
}

legend {
    font-size: 1.5em;
    color: #0071BD;
}

fieldset>div {
    margin: 8px;
}

fieldset fieldset {
    width: fit-content;
    border: solid #FAF8F9;
}

fieldset fieldset legend {
    font-size: 1em;
}

input,
select {
    background-color: white;
    color: #0071BD;
    padding: 8px;
}

input[type="submit"],
button {
    border-radius: 8px;
    background-color: aqua;
    color: darkgreen;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
}

div:first-child {
    text-align: center;
}

div:first-child img {
    height: 50px;
}

form {
    margin-bottom: 8px;
}