body {
    padding: 14px;
    background-color: rgb(11, 184, 69);
}

p,
h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

code {
    background-color: #252020;
    padding: 4px;
    color: #ffffff;
}