/* AUTHOR: JOHN LAWAL, ID: 610098, ASSIGNMENT: LAB1 - ABOUT ME, FILE: PAGE STYLE */

h1 {
    color: chocolate;
}

p {
    color: darkred;
}

p::first-letter {
    font-size: 1.5em;
}

span>p {
    font-weight: bold;
}

dl,
dl * {
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

ol li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
}

#description {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}