body {
    background-image: url("image/background.png");
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 8pt;
    margin: 0%;
}

#banner {
    background-image: url("image/bannerbg.png");
    background-repeat: repeat-x;
}

#banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#info {
    float: right;
    width: 250px;
    background-color: #A2B964;
}

#info p,
h2 {
    padding: 10pt;
    font-family: Arial, sans-serif;
}

#center {
    border: 4px solid gray;
    border-radius: 20px;
    overflow: auto;
    width: 800px;
    margin: auto;
}

blockquote {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 2%;
    padding: 8px;
    background-color: #E8DC9B;
    overflow: auto;
    font-weight: bold;
}

.column1 {
    float: left;
    width: 47%;
    overflow: auto;
}

.column2 {
    float: right;
    width: 47%;
    overflow: auto;
}

h1 {
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

#review {
    width: 550px;
    float: left;
}

#header {
    height: 83px;
    background-image: url("image/rbg.png");
    background-repeat: repeat-x;
}

#header img {
    vertical-align: bottom;
}

#header p {
    font-size: 48pt;
    color: red;
    font-weight: bold;
    padding: 0%;
    margin: 0%;
}

blockquote img {
    float: left;
    margin-right: 5px;
}

span {
    font-style: italic;
}

p img {
    float: left;
    margin-right: 5px;
}

.column1 p {
    overflow: auto;
    margin-bottom: 20pt;
}

.column2 p {
    overflow: auto;
    margin-bottom: 20pt;
}

dt,
dd {
    padding: 4%;
}

dt {
    font-weight: bold;
    margin-top: 10pt;
}

#footer {
    float: bottom;
    clear: both;
    text-align: center;
    background-color: #A2B964;
    padding: 5px;
}

#valid {
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 0.5;
}